body {
    display: flex;
  }
  
.container-flex-kiri,
.container-flex-kanan {
    display: flex;
  }
  
.container-flex-kanan {
    flex-direction: column;
}
  
nav,
header, 
article, 
aside, 
footer {
    border: 4px solid rgb(187, 72, 72);
}
  
nav {
    width: 200px;
    height: 656px;
    background-color: rgb(104, 24, 37);
}
  
header {
    width: 698px;
    height: 70px;
    background-color: rgb(128, 128, 17);
}
  
article {
    width: 490px;
    height: 500px;
    background-color: rgb(83, 204, 2);
}
  
aside {
    width: 200px;
    height: 500px;
    background-color: rgb(6, 173, 250);
}
  
footer {
    width: 698px;
    height: 70px;
    background-color: rgb(65, 65, 1);
}
  
.wrapper-article-aside {
    display: flex;
}